/* src/app/customer/service-catalog/service-catalog.component.scss */

.service-catalog {
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3f51b5;
  }

  .service-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }

  .service-card {
    width: 300px;
    display: flex;
    flex-direction: column;

    mat-card-content {
      flex-grow: 1;

      p {
        font-size: 0.9rem;
        color: #555;
      }
    }
  }

  @media (min-width: 600px) {
    .service-grid {
      gap: 24px;
    }

    .service-card {
      width: 350px;
    }
  }
}

.service-management {
  .service-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-bottom: 20px;

    mat-form-field {
      width: 100%;
    }

    button {
      margin-top: 10px;
    }
  }

  .service-table {
    width: 100%;
    overflow-x: auto;
  }
  .service-image{
    max-width: 200px;
  }
}

/* service-management.component.scss */

.image-previews {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;

  .image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

.service-images {
  display: flex;
  flex-wrap: wrap;

  .service-image {
    width: 100%;
    //height: 60px;
    object-fit: cover;
    margin-right: 4px;
    margin-bottom: 4px;
  }
}
